{% assign trans = site.data.values[site.lan] %}
{% if page.book_active %}
{% include book_sidebar.html %}
{% else %}
<div class="sidebar well">
    <header class="sidebar-header" role="banner">
        <a href="{{ site.baseurl }}/">
            <img src="{{ site.baseurl }}/assets/images/xixia.gif" class="img-circle" />
        </a>
        <!--
        <h3 class="title">
        <a href="{{ site.BASE_PATH }}/">{{ site.title }}</a>
        </h3>
        -->
    </header>
    <div class="text-center">
        《从砂子到智能协作文明》的在线阅读入口。
    </div>
</div>

{% include book_sidebar.html %}
{% endif %}
