---
layout: default
---
<div class="well article book-article">
    <div class="book-page-header">
        <span class="book-page-kicker">Guide</span>
        <div class="book-page-badge">{{ page.title }}</div>
        <div class="book-page-links">
            <a href="{{ site.baseurl }}/book/">书页首页</a>
            <a href="{{ site.baseurl }}/book/guide/essential-reading/">必读 12 章</a>
            <a href="{{ site.baseurl }}/book/full-index/">完整索引</a>
        </div>
    </div>
    <div class="post-content book-content">
        {{ content }}
    </div>
</div>
