{% include header.html %}

<div class="wrap">
    <div class="container container-left site-shell{% if page.book_active %} site-shell-book{% endif %}{% if page.no_sidebar %} site-shell-full{% endif %}">
        <div class="row site-grid">
            {% unless page.no_sidebar %}
            <aside class="col-md-3 hidden-xs site-sidebar">
                {% include sidebar.html %}
            </aside>
            <main class="col-md-9 site-main">
            {% else %}
            <main class="col-md-12 site-main site-main-full">
            {% endunless %}
                {{ content }}
            </main>
        </div>
    </div>

    {% include footer.html %}
</div>
